* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh; /*vh = fenster ansicht*/
    background-color: papayawhip;
    text-align: center; /*text ausrichtung*/
    padding-top: 2em; /*obigen verschachtlung*/
}

.boxShadow {
    background-color: #C499BA;
    box-shadow: 2px 15px 5px #C499BA;
    transition: background-color 10s, box-shadow 10s;
}

.boxShadow:hover {
    background-color: #F4E06D;
    box-shadow: 2px 20px 20px #F4E06D;
    transition: background-color 10s, box-shadow 10s;
}

.textShadow{
    font-family: monospace;
    font-size: 5em;
    color: blueviolet;
    transform: scale(1);
    transition: transform 4s;
}

.textShadow:focus{
    color: darkblue;
    transform: scale(1.2);
    transition: transform 4s;
}